img {
    display: block;
    height: calc(100vh - 16px);
  }
  
  html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif;
  }
  
  .board {
    display: flex;
    border: solid 1px black;
    width: calc(100vw - 16px);
    height: calc(100vh - 16px);
    box-sizing: border-box;
  }
  
  .column {
    flex: 1;
    padding: 5px;
    display: flex;
    gap: 5px;
    flex-direction: column;
  }
  
  .column:not(:last-child) {
    border-right: solid 1px black;
  }
  
  .columnTitle {
    border-bottom: solid 5px black;
    font-weight: bold;
    line-height: 2;
  }
  
  .task {
    padding: 10px;
    border: solid 1px rgba(0, 0, 0, 0.3);
    background-color: #eee;
  }

  .custom {
    pointer-events: none;
    opacity: 0.4;
  }
  